@import "layout/var";
@import "layout/app";

// header
@import "components/header";

// banner
@import "components/billboard";

// services
@import "components/services";

// free block
@import "components/free";

// three
@import "components/three";

// advantages
@import "components/advantages";

// price
@import "components/price";

// reviews
@import "components/reviews";

// what
@import "components/what";

// footer
@import "components/footer";

// modal
@import "components/modal";






