@import "layout/var";

body {
    font-family: $mLight;
    color: black;
    margin: 0;
    padding: 0;
    background: white;
    position: relative;
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
header, footer, section, div, span, p, button, a, input, textarea {
    box-sizing: border-box;
}

button,input,textarea,select{
    outline: none;
}
button {
    padding: 0;
    border: 0;
    background-color: transparent;
}
a {
    text-decoration: none;
    transition: 0.3s;
}

a:focus {
    outline: none;
}

form {
    margin: 0;
}

input {
    &::-webkit-input-placeholder { color: $placeholderColor; }
    &::-moz-placeholder { color: $placeholderColor; }
    &:-moz-placeholder { color: $placeholderColor; }
    &::placeholder { color: $placeholderColor; }
    &::-ms-input-placeholder { color: $placeholderColor; }
    &:-ms-input-placeholder { color: $placeholderColor; }
}

footer {
    margin: 0;
    padding: 0;
}





.container {
    width: 1140px;
    max-width: 100%;
    margin: 0 auto;

    @media (max-width: $md) {
        width: 940px;
    }

    @media (max-width: $sm) {
        width: 720px;
    }

    @media (max-width: $xs) {
        width: 100%;
        padding: 0 15px;
    }
}

.title {
    color: black;
    font-family: $mSemibold;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    @media (max-width: $xs) {
        font-size: 18px;
        line-height: 22px;
    }
}

.text {
    margin-top: 60px;

    @media (max-width: $sm) {
        margin-top: 30px;
    }

    @media (max-width: $xs) {
        margin-top: 15px;
    }

    &--no_top {
        margin-top: 0;
    }

    p {
        font-size: 16px;
        line-height: 22px;
        text-align: justify;
        margin-bottom: 25px;

        @media (max-width: $xs) {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 10px;
        }

        &:nth-child(2) {
            margin-top: 35px;

            @media (max-width: $xs) {
                margin-top: 15px;
            }
        }

        strong {
            font-size: 18px;
            font-family: $mSemibold;
            font-weight: normal;

            @media (max-width: $xs) {
                font-size: 16px;
            }
        }
    }
}
