@import "layout/var";

.free {
  padding-top: 26px;
  overflow: hidden;

  @media (max-width: $xs) {
    padding-top: 15px;
  }

  &__text {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;

    @media (max-width: $xs) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__with-left {
    margin-top: 32px;
    position: relative;

    @media (max-width: $xs) {
      margin-top: 15px;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $sm) {
      flex-direction: column;
    }
  }

  &__form-wrap {
    background: $blue;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    height: 106px;
    width: 780px;
    flex-shrink: 0;
    transform: skew(35deg);
    position: relative;

    @media (max-width: $md) {
      width: 645px;
    }

    @media (max-width: $xs) {
      width: 100%;
      height: auto;
      transform: none;
    }

    &:before {
      content: '';
      display: block;
      width: 5000px;
      height: 106px;
      background: $blue;
      position: absolute;
      top: 0;
      right: calc(100% - 1px);

      @media (max-width: $xs) {
        display: none;
      }
    }
  }

  &__form {
    display: flex;
    align-items: center;
    height: 100%;
    transform: skew(-35deg);

    @media (max-width: $xs) {
      height: auto;
      transform: none;
      display: block;
      padding: 15px;
    }
  }

  &__input {
    width: 312px;
    background: transparent;
    font-size: 18px;
    line-height: 22px;
    padding: 4px;
    border: 0;
    border-bottom: 1px solid white;
    color: white;

    @media (max-width: $xs) {
      width: 100%;
    }
  }

  &__phone {
    background: transparent;
    font-family: $mSemibold;
    font-size: 18px;
    line-height: 22px;
    padding: 4px;
    border: 0;
    color: white;
    margin-left: 50px;

    @media (max-width: $xs) {
      margin-left: 0;
      margin-top: 15px;
    }
  }

  &__button {
    background: #585858;
    //box-shadow: 0px 4px 30px rgba(211, 180, 98, 0.5);
    border-radius: 8px;
    color: white;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 32px;
    cursor: pointer;
    transition: 0.2s;

    @media (max-width: $sm) {
      padding: 10px 25px;
      margin-top: 30px;
    }

    @media (max-width: $xs) {
      margin-top: 15px;
    }

    &:hover {
      box-shadow: 210px 0 0 0 rgba(0,0,0,.3) inset;
    }
  }

  &__file-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    position: relative;

    @media (max-width: $xs) {
      margin-top: 20px;
    }

    &:before {
      content: '';
      width: calc(50% - 93px - 37px);
      height: 4px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) scale(-1,1);
      background: url('../img/line.png') no-repeat left;
      background-size: cover;
      flex-shrink: 0;

      @media (max-width: $xs) {
        width: calc(50% - 93px - 15px);
      }
    }

    &:after {
      content: '';
      width: calc(50% - 93px - 37px);
      height: 4px;
      position: absolute;
      top: 50%;
      left: calc(50% + 93px + 37px);
      transform: translateY(-50%);
      background: url('../img/line.png') no-repeat left;
      background-size: cover;
      flex-shrink: 0;

      @media (max-width: $xs) {
        width: calc(50% - 93px - 15px);
        left: calc(50% + 93px + 15px);
      }
    }
  }

  &__file {
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    padding-left: 36px;
    font-size: 16px;
    line-height: 21px;
    width: 186px;
    flex-shrink: 0;

    @media (max-width: $xs) {
      font-size: 14px;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      width: 19px;
      height: 21px;
      background: url('../img/clip.svg') no-repeat center;
      background-size: cover;
    }

    &:hover {
      color: $blue;
    }
  }

  &__politics {
    margin-top: 40px;
    text-align: center;
    color: #4c4c4c;
    font-size: 14px;
    line-height: 17px;

    @media (max-width: $xs) {
      font-size: 12px;
      line-height: 14px;
      margin-top: 20px;
    }

    a {
      color: $blue;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}