@import "layout/var";

.reviews {
  margin: 30px 0 10px;

  &__wrap {
    margin: 0 auto;
    width: 974px;

    @media (max-width: $md) {
      width: 850px;
    }

    @media (max-width: $sm) {
      width: 720px;
    }

    @media (max-width: $xs) {
      width: 100%;
      margin-top: 15px;
    }
  }

  &__item-wrap {
    padding: 40px 12px 50px;

    @media (max-width: $sm) {
      padding-top: 70px;
    }

    @media (max-width: $xs) {
      padding-top: 40px;
      padding-bottom: 30px;
    }
  }

  &__item {
    background: white;
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0;
    padding: 16px 24px 24px;
    max-width: 475px;

    @media (max-width: $xs) {
      padding: 15px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;

    @media (max-width: $xs) {
      flex-wrap: wrap;
    }
  }

  &__name {
    font-family: $mLight;
    font-size: 18px;
    line-height: 22px;

    @media (max-width: $xs) {
      font-size: 16px;
    }
  }

  &__city {
    font-family: $roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-top: 8px;
  }

  &__stars {
    display: flex;
    align-self: flex-end;

    @media (max-width: $xs) {
      width: 100%;
      justify-content: flex-end;
    }

    img {
      margin-left: 3px;
    }
  }

  &__text {
    margin-top: 30px;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;

    @media (max-width: $xs) {
      font-size: 12px;
      margin-top: 15px;
    }
  }

  .slick-arrow {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.12);
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    @media (max-width: $sm) {
      top: 30px;
    }

    @media (max-width: $xs) {
      width: 25px;
      height: 25px;
      top: 10px;
    }

    &:before {
      content: '';
      width: 0;
      height: 0;
      display: block;
      position: relative;
      border-style: solid;
    }

    &.slick-prev {
      left: -66px;

      @media (max-width: $md) {
        left: -44px;
      }

      @media (max-width: $sm) {
        right: calc(50% + 15px);
        left: auto;
      }

      &:before {
        border-width: 12px 13px 12px 0;
        border-color: transparent $blue transparent transparent;
        margin-left: 13px;

        @media (max-width: $xs) {
          border-width: 6px 6.5px 6px 0;
          margin-left: 8px;
        }
      }
    }

    &.slick-next {
      right: -66px;

      @media (max-width: $md) {
        right: -44px;
      }

      @media (max-width: $sm) {
        left: calc(50% + 15px);
        right: auto;
      }

      &:before {
        border-width: 12px 0 12px 13px;
        border-color: transparent transparent transparent $blue;
        margin-left: 18px;

        @media (max-width: $xs) {
          border-width: 6px 0 6px 6.5px;
          margin-left: 10px;
        }
      }
    }

    &.slick-disabled {
      opacity: 0.5;
    }
  }
}