@import "layout/var";

.services {

  &__title {
    margin-top: 60px;

    @media (max-width: $sm) {
      margin-top: 30px;
    }

    @media (max-width: $xs) {
      margin-top: 15px;
    }

    &--small_top {
      margin-top: 24px;
    }
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;

    @media (max-width: $sm) {
      margin-top: 30px;
    }

    @media (max-width: $xs) {
      margin-top: 15px;
    }
  }

  &__item {
    width: 33.33%;
    display: flex;
    padding: 18px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 56px;

    @media (max-width: $sm) {
      margin-bottom: 30px;
      width: 50%;
    }

    @media (max-width: $xs) {
      width: 100%;
      margin-bottom: 15px;
      padding: 15px;
    }

    &:hover {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

      .services__link {
        color: $blue;
        font-family: $mSemibold;
      }
    }
  }

  &__img {
    width: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    @media (max-width: $md) {
      width: 90px;
    }

    @media (max-width: $sm) {
      width: 140px;
    }

    @media (max-width: $xs) {
      width: 90px;
    }

    img {
      max-width: 100%;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 23px;
    width: 100%;
  }

  &__name {
    font-family: $mSemibold;
    font-size: 14px;
    line-height: 18px;

    @media (max-width: $xs) {
      font-size: 12px;
    }

    span {
      font-size: 18px;
      display: block;

      @media (max-width: $xs) {
        font-size: 16px;
      }
    }
  }

  &__link {
    color: black;
    font-size: 16px;
    line-height: 20px;
    align-self: flex-end;

    @media (max-width: $xs) {
      font-size: 14px;
    }
  }
}

.services-slider {
  margin: 20px 40px 0;

  @media (max-width: $sm) {
    margin-left: 0;
    margin-right: 0;
  }

  .services__item {
    width: 100%;
    height: 155px;
    margin: 20px 0;

    @media (max-width: $sm) {
      margin-top: 60px;
    }
  }

  .slick-arrow {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.12);
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    @media (max-width: $sm) {
      top: 30px;
    }

    @media (max-width: $xs) {
      width: 25px;
      height: 25px;
      top: 10px;
    }

    &:before {
      content: '';
      width: 0;
      height: 0;
      display: block;
      position: relative;
      border-style: solid;
    }

    &.slick-prev {
      left: -55px;

      @media (max-width: $md) {
        left: -44px;
      }

      @media (max-width: $sm) {
        right: calc(50% + 15px);
        left: auto;
      }

      &:before {
        border-width: 8px 9px 8px 0;
        border-color: transparent $blue transparent transparent;
        margin-left: 13px;

        @media (max-width: $xs) {
          border-width: 6px 6.5px 6px 0;
          margin-left: 8px;
        }
      }
    }

    &.slick-next {
      right: -55px;

      @media (max-width: $md) {
        right: -44px;
      }

      @media (max-width: $sm) {
        left: calc(50% + 15px);
        right: auto;
      }

      &:before {
        border-width: 8px 0 8px 9px;
        border-color: transparent transparent transparent $blue;
        margin-left: 15px;

        @media (max-width: $xs) {
          border-width: 6px 0 6px 6.5px;
          margin-left: 10px;
        }
      }
    }

    &.slick-disabled {
      opacity: 0.5;
    }
  }
}